%div.margin-economics
%table.full-table
  %tr
    %td{colspan: 1}
      = ''
    %td.last-planned-column.column-name.center{colspan: 3, style: "border-right: 1px solid lightgray;"}
      = "#{:planned.tl}".upcase
    %td.column-name.center{colspan: 3}
      = "#{:realised.tl}".upcase

  - %i[proportional_direct_charges fixed_direct_charges activity_indirect_charges].each do |row|
    %tr
      %td
        .med-info.important
          - if %i[proportional_direct_charges fixed_direct_charges].include?(row)
            - row_label =  "#{row.tl}"
          - else
            - row_label =  "- #{row.tl}"
          %span.title{"class" => "#{row}-default", "data-default" => result.send(row)[:default]}= row_label
          - detail_label = "#{row}_details"
          - if I18n.exists? "labels.#{detail_label}"
            %span.details= detail_label.tl
      %td
        %span.h4{"class" => "format-economic-result without-unit #{row}-work"}=  result.send(row)[:per_unit]
      %td
        %span.h4{"class" => "format-economic-result without-unit #{row}-area"}=  result.send(row)[:per_area]
      %td.last-planned-column
        %span.h4{"class" => "format-economic-result without-unit #{row}-default"}=  result.send(row)[:default]
        %span.format-economic-result= "€"
      %td
        %span.h4{"class" => "format-economic-result without-unit #{row}-work"}=  result.send("real_#{row}")[:per_unit]
      %td
        %span.h4{"class" => "format-economic-result without-unit #{row}-area"}=  result.send("real_#{row}")[:per_area]
      %td.last-planned-column
        %span.h4{"class" => "format-economic-result without-unit #{row}-default"}=  result.send("real_#{row}")[:default]
        %span.format-economic-result= "€"

  %td.last-planned-column.entry{colspan: 4}
    .med-info.important
      %a= link_to(content_tag(:i, nil, class: '#side icon icon-plus'), title: :more.tl, target: :_blank)
  - %i[activity_employees_wages activity_depreciations_charges activity_loans_charges activity_farmer_wages].each do |row|
    %tr.hidden-eco{style: "display: none;"}
      %td
        .med-info.important
          - row_label = %i[activity_indirect_charges activity_employees_wages activity_depreciations_charges activity_loans_charges activity_farmer_wages].include?(row) ? "- #{row.tl}" : "#{row.tl}"
          %span.title{"class" => "#{row}-default", "data-default" => result.send(row)[:default]}= row_label
          - detail_label = "#{row}_details"
          - if I18n.exists? "labels.#{detail_label}"
            %span.details= detail_label.tl
      %td
        %span.h4{"class" => "#{row}-work format-economic-result without-unit"}=  result.send(row)[:per_unit]
      %td
        %span.h4{"class" => "#{row}-area format-economic-result without-unit"}=  result.send(row)[:per_area]
      %td.last-planned-column
        %span.h4{"class" => "#{row}-default format-economic-result without-unit"}=  result.send(row)[:default].round(2)
        %span.format-economic-result= "€"
      %td
        %span.h4{"class" => "#{row}-work format-economic-result without-unit"}=  result.send("real_#{row}")[:per_unit]
      %td
        %span.h4{"class" => "#{row}-area format-economic-result without-unit"}=  result.send("real_#{row}")[:per_area]
      %td.last-planned-column
        %span.h4{"class" => "#{row}-default format-economic-result without-unit"}=  result.send("real_#{row}")[:default].round(2)
        %span.format-economic-result= "€"
  %tr
    - color = (result.production_cost[:default] > 0 ? :green : :red)
    %td
      .med-info.important
        %span.title{"class" => "production-cost-default", "data-default" => result.production_cost[:default]}= :production_cost.tl
    %td
      %span.h4{"class" => "production-cost-work format-economic-result without-unit", "style" =>"color: #{color}; font-weight: bold"}= result.production_cost[:per_unit]
    %td
      %span.h4{"class" => "production-cost-area format-economic-result without-unit"}=  result.production_cost[:per_area]
    %td.last-planned-column
      %span.h4{"class" => "production-cost-default format-economic-result without-unit"}=  result.production_cost[:default]
      %span.format-economic-result= "€"
    - real_color = (result.real_production_cost[:default] > 0 ? :green : :red)
    %td
      %span.h4{"class" => "production-cost-work format-economic-result without-unit", "style" =>"color: #{real_color}; font-weight: bold"}= result.real_production_cost[:per_unit]
    %td
      %span.h4{"class" => "production-cost-area format-economic-result without-unit"}=  result.real_production_cost[:per_area]
    %td.last-planned-column
      %span.h4{"class" => "production-cost-default format-economic-result without-unit"}=  result.real_production_cost[:default]
      %span.format-economic-result= "€"
